.container {
  background-color: #d2e0e2;
  width: 100%;
  overflow-x: hidden;
}

.contentContainer {
  color: black;
  border-top: 2px solid #ccdbe9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid white;
  user-select: none;
  width: 220px;
  margin-bottom: 20px;
}

.intro {
  font-size: 20px;
  padding-top: 10px;
}

.mediaBar {
  padding-top: 60px;
}
